/* Blog Index */
#posts-list footer address {display: block;}
#posts-list {list-style: none; margin: 0;}

.paginator {
    margin-top: 0.5em;
    padding-top: 0.5em;
    clear: both;
    text-align: center;
}

.paginator .inactive {
    color: $primary-color;
}
