a, a:hover {
    -webkit-transition: color $animation-time linear, background-color $animation-time linear;
    -moz-transition: color $animation-time linear, background-color $animation-time linear;
    -o-transition: color $animation-time linear, background-color $animation-time linear;
    -ms-transition: color $animation-time linear, background-color $animation-time linear;
    transition: color $animation-time linear, background-color $animation-time linear;
}
