/* Content */
article h1 {
	font-size: 3em;
	margin-top: 0;
}

article h1 a:link, article h1 a:visited {
	text-decoration: none;
	color: $dark-color;
	background-color: $bg-color;
}

article img {
    margin: 0px auto;
    display: block;
    border: 1px solid $primary-color;
    clear: both;
}

article, #content {
    font-family: 'Lora', times, serif;
    line-height: 1.6em;
}

article {
    font-size: 1.3em;
}

.video {
	width: 30em;
	height: 20em;
	margin: 1em auto;
}
