/*
	Header
*****************/

header {
    clear: both;
    margin: 1em 0;
}

/* Banner */

header h1 {
	font-size: 4em;
	text-align: center;
}

header h1 a:link, header h1 a:visited {
	color: $primary-color;
	display: block;
	font-weight: bold;
	text-decoration: none;
}
header h1 a:hover, header h1 a:active {
	background: none;
	color: $active-color;
	text-shadow: none;
}

header h1 strong {
	font-size: 0.36em;
	font-weight: normal;
}
