/* Pages */

#about {
	background: $bg-color;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about_logos img {
	display: inline;
	height: 12em;
	margin: 0 3em;
	text-align: center;
	border: none;
}

#about_headshot {
	float: right;
	border: none;
	margin-bottom: 1em;
	margin-left: 1em;
}

#business-card {
    font-size: 10pt;
    width: 35em;
    margin: 0px auto 2em auto;
    border: 2px solid $highlight-color;
    padding: 1.5em;
}

#business-card img {
	display: inline;
	border: none;
}

#business-card-info {
    float: right;
    text-align: right;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.3em;
}

#cv-screenshot {
	width: 420px;
	margin: 0 auto;
}
