.post-info {
    padding: 0;
    color: $primary-color;
    float: none;
    font-size: 0.7em;
}

.post-info p {
    margin-bottom: 1px;
}

.metadata h1 a {
    color: $dark-color;
}

.metadata h1 a:hover {
    color: $active-color;
}

.metadata {
    margin-bottom: 1em;
}
