@media handheld, screen and (max-width: 800px) {
  body {
    width: 40em;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 40em;
    font-size: 0.7em;
  }
  nav {
    font-size: 1em;
  }
  #tipue_search_container {
    margin-top: 0.2em;
  }
  #business-card {
    font-size: 8pt;
    width: 31em;
  }
  #business-card img {
    width: 15em;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 40em;
    font-size: 0.6em;
    padding: 0;
  }
  nav {
    font-size: 1em;
  }
  #tipue_search_container {
    margin-top: 0.2em;
  }
  #tipue_search_container input {
    font-size: 7pt;
  }
}
