/* Main Nav */
nav {
    background: $primary-color;
	font-size: 1.143em;
	height: 2.45em;
	margin: 0 auto 1em auto;
	padding: 0;
	/*width: 90%;*/

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

nav ul {
	list-style: none;
	margin: 0 auto;
}

nav li {
	float: left;
	display: inline;
	margin: 0;
}

nav a:link, nav a:visited {
	color: $bg-color;
	display: inline-block;
	padding: 0.5em 1.4em;
	text-decoration: none;
}
nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
	background: $active-color;
	color: $bg-color;
}

nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
