/* Imports */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Lora);

$primary-color: lightgray;
$shadow-color: gray;
$highlight-color: #EEEEEE;
$dark-color: black;
$active-color: #C74350;
$bg-color: white;
$animation-time: 200ms;

@import "reset";
@import "pygment";
@import "global";
@import "header";
@import "outline";
@import "pages";
@import "posts";
@import "content";
@import "blog-index";
@import "printing";
@import "search";
@import "nav";
@import "animation";
@import "responsive";
